# Baseline Model

Purpose:

 While we have a minimal understanding of the data, I will now apply the minimal number of preprocessing and train a simple linear regression to get a simple dataset+ model baseline

In [ ]:
%pip install -r ../../requirements.txt

# load data

In [17]:
base_dataset = pd.read_csv('../data/train_base.csv')

# Prepare Dataset (minimal preprocessing)

- drop rows with any null columns
- apply label encoding

1.2 mil rows -> 320k
Surprisingly the columwise data distributions remained the same, unclear/(didn't check) if the feature relationships are still in tact

In [18]:
# Drop rows with any null values
base_dataset = base_dataset.dropna()
print(base_dataset.shape)
# Verify if there are any null values left
print(f"are there anymore nulls? {base_dataset.isnull().sum().any()}")  # Should print 0 for all columns

(384004, 20)
are there anymore nulls? False

In [19]:
# convert string cols to categorical for future encoding
categorical_cols = [base_dataset.columns[i] for i, x in enumerate(base_dataset.dtypes) if x == 'object']
base_dataset[categorical_cols] = base_dataset[categorical_cols].astype('category')

#make copies for the encodings
base_dataset_label_encoded = base_dataset.copy(deep=True)
base_dataset_one_hot = base_dataset.copy(deep=True)

In [ ]:
# Convert categorical to label encodings
for col in categorical_cols:
    base_dataset_label_encoded[col] = base_dataset_label_encoded[col].cat.codes
base_dataset_label_encoded.to_csv("../data/baseline_dataset.csv",index=False)
base_dataset_label_encoded.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,Policy Duration Mins
0,19.0,0,10049.0,1,1.0,0,1,22.598761,2,2,2.0,17.0,372.0,5.0,2,0,3,2,2869.0,5.188669e+05
4,21.0,1,39651.0,2,1.0,0,1,20.376094,0,2,0.0,8.0,598.0,4.0,2,1,3,2,2022.0,1.601747e+06
7,48.0,0,127237.0,0,2.0,1,0,5.769783,1,1,1.0,11.0,398.0,5.0,0,0,2,1,111.0,1.241747e+06
9,44.0,1,52447.0,1,2.0,2,0,20.473718,2,1,1.0,9.0,635.0,3.0,2,0,0,1,64.0,2.301587e+06
15,18.0,1,6076.0,1,2.0,1,0,7.442964,2,2,1.0,12.0,584.0,5.0,1,1,1,0,849.0,2.192147e+06

In [20]:
## convert categorical to one hot encodings
base_dataset_one_hot = pd.get_dummies(base_dataset_one_hot, drop_first=True)
base_dataset_one_hot.to_csv("../data/baseline_dataset_one_hot.csv",index=False)
base_dataset_one_hot.head()

,Age,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount,Policy Duration Mins,Gender_Male,Marital Status_Married,Marital Status_Single,Education Level_High School,Education Level_Master's,Education Level_PhD,Occupation_Self-Employed,Occupation_Unemployed,Location_Suburban,Location_Urban,Policy Type_Comprehensive,Policy Type_Premium,Customer Feedback_Good,Customer Feedback_Poor,Smoking Status_Yes,Exercise Frequency_Monthly,Exercise Frequency_Rarely,Exercise Frequency_Weekly,Property Type_Condo,Property Type_House
0,19.0,10049.0,1.0,22.598761,2.0,17.0,372.0,5.0,2869.0,5.188669e+05,False,True,False,False,False,False,True,False,False,True,False,True,False,True,False,False,False,True,False,True
4,21.0,39651.0,1.0,20.376094,0.0,8.0,598.0,4.0,2022.0,1.601747e+06,True,False,True,False,False,False,True,False,False,False,False,True,False,True,True,False,False,True,False,True
7,48.0,127237.0,2.0,5.769783,1.0,11.0,398.0,5.0,111.0,1.241747e+06,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False
9,44.0,52447.0,2.0,20.473718,1.0,9.0,635.0,3.0,64.0,2.301587e+06,True,True,False,False,True,False,False,False,False,True,True,False,False,True,False,False,False,False,True,False
15,18.0,6076.0,2.0,7.442964,1.0,12.0,584.0,5.0,849.0,2.192147e+06,True,True,False,True,False,False,False,False,False,True,False,True,True,False,True,True,False,False,False,False