# Baseline Model

Purpose:

 While we have a minimal understanding of the data, I will now apply the minimal number of preprocessing and train a simple linear regression to get a simple dataset+ model baseline

In [ ]:
%pip install -r ../../requirements.txt

# load data

In [31]:
base_dataset = pd.read_csv('../data/train_base.csv')

# Prepare Dataset (minimal preprocessing)

- drop rows with any null columns
- apply label encoding

1.2 mil rows -> 320k
Surprisingly the columwise data distributions remained the same, unclear/(didn't check) if the feature relationships are still in tact

In [32]:
# Drop rows with any null values
base_dataset = base_dataset.dropna()
print(base_dataset.shape)
# Verify if there are any null values left
print(f"are there anymore nulls? {base_dataset.isnull().sum().any()}")  # Should print 0 for all columns

(384004, 20)
are there anymore nulls? False

In [33]:
# convert string cols to categorical for future encoding
categorical_cols = [base_dataset.columns[i] for i, x in enumerate(base_dataset.dtypes) if x == 'object']
base_dataset[categorical_cols] = base_dataset[categorical_cols].astype('category')
# Convert categorical to label encodings
for col in categorical_cols:
    base_dataset[col] = base_dataset[col].cat.codes
base_dataset.to_csv("../data/baseline_model_dataset.csv",index=False)
base_dataset.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,Policy Duration Mins
0,19.0,0,10049.0,1,1.0,0,1,22.598761,2,2,2.0,17.0,372.0,5.0,2,0,3,2,2869.0,5.188669e+05
4,21.0,1,39651.0,2,1.0,0,1,20.376094,0,2,0.0,8.0,598.0,4.0,2,1,3,2,2022.0,1.601747e+06
7,48.0,0,127237.0,0,2.0,1,0,5.769783,1,1,1.0,11.0,398.0,5.0,0,0,2,1,111.0,1.241747e+06
9,44.0,1,52447.0,1,2.0,2,0,20.473718,2,1,1.0,9.0,635.0,3.0,2,0,0,1,64.0,2.301587e+06
15,18.0,1,6076.0,1,2.0,1,0,7.442964,2,2,1.0,12.0,584.0,5.0,1,1,1,0,849.0,2.192147e+06