In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('../data/train.csv.zip')

#allow all columns to be displayed
pd.set_option('display.max_columns', None)

Now that we have the data, lets take a closer look at the data. We will look at the distribution of the data as well as the number of missing values and the type of the data.

# Evaluating Data distibution and any bad values

In [3]:
df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [4]:
df.describe()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
count,159571.000000,159571.000000,159571.000000,159571.000000,159571.000000,159571.000000
mean,0.095844,0.009996,0.052948,0.002996,0.049364,0.008805
std,0.294379,0.099477,0.223931,0.054650,0.216627,0.093420
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
toxic_types = ['toxic',	'severe_toxic'	,'obscene',	'threat',	'insult', 	'identity_hate']

#get the value counts for each toxic type
for toxic_type in toxic_types:
    print(df[toxic_type].value_counts())
    print(df[toxic_type].value_counts(normalize=True))

toxic
0    144277
1     15294
Name: count, dtype: int64
toxic
0    0.904156
1    0.095844
Name: proportion, dtype: float64
severe_toxic
0    157976
1      1595
Name: count, dtype: int64
severe_toxic
0    0.990004
1    0.009996
Name: proportion, dtype: float64
obscene
0    151122
1      8449
Name: count, dtype: int64
obscene
0    0.947052
1    0.052948
Name: proportion, dtype: float64
threat
0    159093
1       478
Name: count, dtype: int64
threat
0    0.997004
1    0.002996
Name: proportion, dtype: float64
insult
0    151694
1      7877
Name: count, dtype: int64
insult
0    0.950636
1    0.049364
Name: proportion, dtype: float64
identity_hate
0    158166
1      1405
Name: count, dtype: int64
identity_hate
0    0.991195
1    0.008805
Name: proportion, dtype: float64

In [26]:
#find out how many of the rows have no toxic comments
print(df[toxic_types].sum(axis=1).value_counts())
df[toxic_types].sum(axis=1).value_counts(normalize=True)

0    143346
1      6360
3      4209
2      3480
4      1760
5       385
6        31
Name: count, dtype: int64

0    0.898321
1    0.039857
3    0.026377
2    0.021808
4    0.011030
5    0.002413
6    0.000194
Name: proportion, dtype: float64

As we can see above, the majority of the data has been labeled as non-toxic. We may need to be careful about the model overfitting to just label non-toxic. We will need to look at the other labels to see if they are also skewed.

In [17]:
double_toxic=df[(df.toxic==1) & (df.severe_toxic==1)]
double_toxic.shape

(1595, 8)

In [18]:
severely_toxic = df[df.severe_toxic==1]
severely_toxic.shape

(1595, 8)

In [20]:
double_toxic.equals(severely_toxic)

True

In [27]:
df.columns

Index(['id', 'comment_text', 'toxic', 'severe_toxic', 'obscene', 'threat',
       'insult', 'identity_hate'],
      dtype='object')

In [33]:
#get all data with obscene and insult comments
obscene_insult = df[(df.obscene==1) & (df.insult==1)]
print(obscene_insult.shape)

insult = df[df.insult==1]
insult.shape
print(insult.shape)


#get all data with obscene  comments
obscene = df[df.obscene==1]
obscene.shape

(6155, 8)
(7877, 8)

(8449, 8)

Interestingly all the ones tagged as severe_toxic are also labelled as toxic. Also a lot of the obscene and insult comments are also frequently labelled together.  Perhaps it will be useful to look at some of the examples that are labelled as only one or the other To get a better idea for what defines that category of data.

# Looking at samples within the categories to get a better idea of the data